.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  padding: 28px 0 24px;
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .page {
    padding-top: 16px;
  }
}
