.places {
  width: calc(100% - 2*48px);
  color: #FFFFFF;
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 2*24px);
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    color: #FFFFFF;
    margin: 64px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 2*148px);
    color: #FFFFFF;
  }
}
