.header {
  display: flex;
  margin: 0px 48px 0;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0px 16px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0px 24px 0;
  }
}
