.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  opacity: .8;
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
