.place__paragraph {
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:nth-child(2) {
  margin-top: 27px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .place__paragraph {
    margin: 0 16px 0;
  }
}
