.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 570px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
    margin: 16px 0 0;
  }
}
