.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: #2a2c2f4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 32px;
}

.cover__overlay:hover {
  background-color: #2a2c2fcc;
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .cover__overlay {
    gap: 16px;
  }
}
