.place {
  display: grid;
  grid-template-columns: minmax(340px, 440px) minmax(300px, 1fr);
  column-gap: 32px;
  row-gap: 48px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    margin-top: 73px;
    grid-template-columns: minmax(100px, 340px) minmax(230px, 1fr);
  }
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
    grid-template-columns: 460px 1fr;
  }
}
