.footer {
  display: flex;
  list-style: none;
  margin: 92px 48px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
  }
}

/*ширина 430px назначена для правильного отображения на IPhone 12/13 Pro*/
@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column;
    margin: 64px 16px 0 16px;
    gap: 32px;
  }
}
